#define MANIFEST 24
#define DLG_MAIN 1000
#define IDC_REXP 1001
#define IDC_RCOMP 1002
#define IDC_GRP1 1003
#define IDC_ORI 1004
#define IDC_GRP2 1005
#define IDC_DIR 1006
#define IDC_START 1007
#define IDC_BROWSEORI 1008
#define IDC_BROWSEDIR 1009
#define IDC_STC1 1010
#define IDR_XPMANIFEST1 1

DLG_MAIN DIALOGEX 0,0,240,102
CAPTION "Arc v2 Packer"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80800
BEGIN
  CONTROL "解包",IDC_REXP,"Button",0x50010009,9,6,63,9
  CONTROL "封包",IDC_RCOMP,"Button",0x50010009,90,6,72,9
  CONTROL "原始Arc",IDC_GRP1,"Button",0x50000007,3,24,231,27
  CONTROL "",IDC_ORI,"Edit",0x50010000,9,36,189,12,0x00000200
  CONTROL "待封包目录",IDC_GRP2,"Button",0x50000007,3,60,231,27
  CONTROL "",IDC_DIR,"Edit",0x58010000,9,72,189,12,0x00000200
  CONTROL "干活",IDC_START,"Button",0x50010000,165,3,66,18
  CONTROL "...",IDC_BROWSEORI,"Button",0x50010000,207,36,21,12
  CONTROL "...",IDC_BROWSEDIR,"Button",0x58010000,207,72,21,12
  CONTROL "提示：封包前请务必将原始Arc备份！",IDC_STC1,"Static",0x50000000,6,90,225,9
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

